html,body{
  height: 100%;
  font-family: times;
}
#app{
  height: 91%;
}
#all{
  background-color: white;
}
.separate_hr{
  margin: -8px 10px -10px 18px;
  border-color: #cccccc;
}
.page_title{
  display: inline;
  font-size: 25px;
  position: relative;
  top: 5px;
  left: 8px;
  color: #0d2f81;
  font-weight: bold;
}

.title_method{
  font-size: 16px;
  padding: 5px 0px 3px 10px;
  margin: 0px;
}
@media only screen and (max-width: 600px) {
  .navbar-brand{
    display: none;
  }
  .navbar-brand-second{
    display: none!important;
  }
  #sidebar{
    display: none;
  }
  #sidebar-title{
    display: none!important;
  }
  #sidebar-table{
    display: none!important;
  }
  #main{
    background-image: url("/image/background2.jpeg");
    background-repeat: repeat-y!important;
  }
}
@media only screen and (min-width: 600px) {
  .navbar-hide{
    display: none;
  }
  #sidebar{
    display: block;
  }
  #sidebar-table{
    display: block;
  }
  
}
fieldset[class*="col"] > label[class*="bmd-label"]
{
  left: 15px !important;
}
.navbar-brand{
  color: gold!important;
  font-size: 18px;
  font-weight: bold;
  font-family: times;
}
.navbar-hide{
  color: #0d2f81;
  font-family: times;
  font-size: 16px;
  font-weight: bold;
}
.navbar-brand-second{
  color: #0d2f81;
  font-family: times;
  font-size: 16px;
  margin-top: 5.5px;
  font-weight: bold;
}

.navbar-brand:hover{
  text-decoration: none;
  font-size: 18.5px;
  color: gold;
}
.navbar-hide:hover{
  text-decoration: none;
  color: gold;
}
.navbar-brand-second:hover{
  text-decoration: none;
  color: gold;
}
.nav-link{
  color: white!important;
  font-family: arial;
}
.bmd-label-floating{
    color: black !important;
}
.btn{
  text-transform: unset !important;
}
.bootstrap-select .btn {
  color: black;
  padding-left: 0px;
  font-family: times;
  font-size: 17px;
  height: 30px;
  padding-bottom: 0px;
}
.bootstrap-select .btn:hover,
.bootstrap-select .btn:focus,
.bootstrap-select .btn:active{
  color: black;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}


.pass_page{
  padding:0px 20px;
}
.first_page{
  padding-left: 0px!important;
}
.pass_page a{
  padding: 0px 20px;
  color: #0d2f81;
}
.pass_page a:hover{
  text-decoration: none;
  font-weight: bold;
}
.now_page{
  padding: 0px 20px;
  color: black!important;
  font-weight: bold;
}

.label{
    color: black;
}
.option-group{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.option{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#input{
    color: black;
}
.mynav{
  background-color: black;
  padding:5px;
}
#button_side{
  border: none;
  border-radius: 50%;
  padding:5px 10px;
  background-color: white;
}
#button_side:hover{
  background-color:#e5e7e8; 
}
#sidebar{
  margin: 0px; 
  padding:0px;
  background-color: #0d2f81;
  opacity: 100%;
  transition: all 500ms linear;
}

#main{
  background-image: url("/image/background2.jpeg");
  background-repeat: repeat-y;
  background-size: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #e6e6e6;
}
#sidebar-img{
  border-radius: 50%;
  width: 25%;
  height:80px;
}
#slidebar-details{
  font-family: times;
  width: 80%;
  margin: 0px 0px 0px 10px;
  font-size: 16px;
}
ul.sidebar-ul {
  list-style-type: none;
  width: 100%;
  padding:0px;
  color: white;
}
li.sidebar-li{
  width: 100%;
  padding:10px;
  color: #e5e7e8;
}
li.sidebar-li:hover{
  font-size: 18px;
  background-color:#334799;
  color:white!important;
  border-left: 3px solid white;
}
ul.sidebar-ul a:hover{
  text-decoration: none;
}
#selected-sidebar{
  font-size: 18px;
  background-color:#334799;
  color:gold!important;
  border-left: 3px solid gold;
}
i.sidebar-icon{
  font-size: 20px;
  width:40px;
  background-color: #e5e7e8;
  text-align:center;
  border-radius: 50%;
  padding: 10px 10px;
  color: #828aa8;
}
#box{
  background-color: white;
  border-radius: 15px;
  padding: 10px 20px;
}
.img{
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.CV{
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.dataTables_filter{
  display: none;
}
.dataTables_filter input {
  border-radius: 5px;
}
.dataTables_paginate input {
  width: 30px;
  text-align: center;
  font-size: 13px;
}
.paginate_button{
  padding:5px 0px;
  margin: 10px 2px 0px 2px;
  text-align: center;
  font-size: 12px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  display:inline-block;
  width: 30px;
}
.paginate_button:hover{
    background-color: #0d2f81!important;
    color: gold!important;
}
#dtBasicExample tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
#dtBasicExample tbody tr:hover {
  background-color:#e6e6e6;
}
#action_sidebar{
    width:230px;
    background-color:#1b6ad2;
    position:absolute;
    z-index:1;
    overflow:auto;
    right:0;
    margin-right: 5px;
    top: 0px;
}

.button_close{
  border: 1px solid white;
  background-color: #1b6ad2;
  font-size: 20px;
  border-radius: 50%;
  width: 35px;
  color: white;
}
.button_open{
  border: 1px solid grey;
  background-color: white;
  font-size: 20px;
  border-radius: 50%;
  width: 35px;
  color: black;
}

.button_open:hover{
  background-color: #e6e6e6;
}
.sidebar-action-ul{
  list-style-type: none;
  width: 100%;
  margin-bottom: 0px;
  color: white;
  padding: 0px;
}

.sidebar-action-li{
  width: 100%;
  padding:5px 10px;
  border-bottom: 1px solid black;
  color: white;
}
ul.sidebar-action-ul a:hover{
  text-decoration: none;
}
.sidebar-action-li:hover{
  background-color: #15509e;
}

#edit_image:hover{
  color: black!important;
  text-decoration: underline;
}
#edit_CV:hover{
  color: black!important;
  text-decoration: underline;
}
#edit_Sign:hover{
  color: black!important;
  text-decoration: underline;
}

.dz-image img{
  width: 100px;
  height: 100px;
  margin: 10px;
}

#download_link:hover{
  text-decoration-line: none;
  background-color: #e6e6e6;
}
#download{
  background-color: #dfdfdf;
  width: 120px;
  border-radius: 10%;
  padding: 0px;
}
#download:hover{
  background-color: #cccccc;
}
.file_action_block{
  position: absolute;
  padding-top: 5px;
  right:20px;
}
.action_button_file{
  padding:5px;
  border-radius: 50%;
  color:#0d2f81;
  width: 28px;
  text-align: center;
  background-color: white;
  margin-bottom: 5px;
}
.dropdown_list{
  margin-top: 40px;
  position: absolute;
  right: 20px;
  display: none;
}
.changelabel{
    border:0px solid black;
    margin-left: 20%;
    position: relative;
    top: -125px;
    margin-bottom: -10px;
}
.changeName{
    border:0px solid black;
    margin-left: 20%;
    position: relative;
    top: -125px;
    margin-bottom: -50px;
}
@media only screen and (max-width: 600px) {
    .changelabel{
        border:0px solid black;
        margin-left: 50%;
        position: relative;
        top: -105px;
        margin-bottom: -10px;
    }
    .changeName{
        border:0px solid black;
        margin-left: 50%;
        position: relative;
        top: -105px;
        margin-bottom: -50px;
    }
}
@media only screen and (max-width: 600px) {
    #course_name{
        margin-left:0px;
        padding-top: 5px;
    }
    #course_action{
      padding: 15px 0px 0px 20px;
    }
}
@media only screen and (min-width: 600px) {
    #course_name{
        margin-left:-55px;
        padding-top: 5px;
    }
    #course_action{
      padding: 5px 0px 0px 24px;
    }
}

#marking{
  display: inline;
  position:absolute;
  right:20px;
  width: 215px;
}

#mark_data{
  display: inline;
  position:absolute;
  right:-20px;
  width: 215px;
}
#mark_data i{
  padding:5px;
  background-color: none;
  width: 50px;
  text-align: center;
}
.correct{
  color: green;
}

.wrong{
  color: red;
}
@media only screen and (max-width: 600px) {
    #marking {
      display: none;
    }
    #mark_data{
    display: none;
    }
}

#templete_link:hover{
  text-decoration: none;
}

.full_question{
  font-size: 15px;
  font-style: italic;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 5px 0px 0px 0px!important;
  padding: 0px!important;
  display: inline-block;
}
.loading_word{
  font-size : 13px;
  position: relative;
  top: -10px;
  border:0px solid black;
  margin: 0px;
  color: black;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#download_link:hover{
    text-decoration: none;
    background-color: #d9d9d9;
}

#course_list:hover{
    text-decoration: none;
    background-color: #d9d9d9;
}
.week:hover{
    background-color: #d9d9d9;
}

.tablebody{
  border-left:1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.tablebodyCenter{
  border-left:1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .tooltiptext{
    width:300px;
    background-color:#e6e6e6;
    color: black;
    text-align: left;
    border-radius: 6px;
    border:1px solid black;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top:0px;
    left:103%;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100.1%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
}
@media only screen and (max-width: 600px) {
  .tooltiptext{
    width:auto;
    background-color:#e6e6e6;
    color: black;
    text-align: left;
    border-radius: 6px;
    border:1px solid black;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top: 115%;
    left: 10%;
    margin-left: -60px;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100.1%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
}



